<div class="notes-header-container">
   <div>
      <div class="notes-menu">
         <div class="notes-menu-header">Notes</div>
      </div>
      <div class="notes-menu-options" style="display:none">
         <div>
            <div>
               Notes
            </div>
            <div>
               Reminders
            </div>
         </div>
      </div>
      <div class="notes-menu-buttons-container">
         <div class="notes-menu-button list-view">
         </div>
         <div class="notes-menu-button grid-view">
         </div>
      </div>
   </div>
</div>